<div class="container">
  <div class="header">
    <div style="margin: 3px 10px">
      <p class="h-title">Task Tracker</p>
    </div>
  </div>
  <div class="content">
    <div class="scrollable-content">
      <div *ngIf="cardBoardArray.length > 0">
        <div *ngFor="let cardArray of cardBoardArray;let i = index" [class]="cardArray.cssClass">
          <div (drop)="onDrop($event, cardArray.list, undefined)" (dragover)="onDragOver($event)" *ngIf="!cardArray.btn_card">
            <div class="card-header">
              <input [value]="cardArray.title" placeholder="Enter list title">
            </div>
            <div class="card-body" (drop)="onDrop($event, cardArray.list, y)" (dragover)="onDragOver($event)" *ngFor="let cardItems of cardArray.list;let y =  index">
              <div *ngIf="cardItems.editable">
                <textarea class="content_area" [(ngModel)]="cardItems.content"></textarea>
              </div>
              <div class="inner-card" (dragstart)="onDragStart($event, y, cardArray.list)" draggable="true" *ngIf="!cardItems.editable">
                {{cardItems.content}}
              </div>
              <span *ngIf="cardItems.editable == false" class="edit pointer" (click)="doAction('edit',i,y)">Edit</span>
              <span *ngIf="cardItems.editable == true" class="save pointer" (click)="doAction('save',i,y)">Save</span>
            </div>
            <div class="card-footer">
              <div *ngIf="!cardArray.hide_btn" (click)="addNewTask(i)">
                <p class="btn-new pointer">+ Add new card </p>
              </div>
              <div *ngIf="cardArray.hide_btn">
                <span class="pointer" style="line-height: 40px;
                      color: #000;
                      margin-left: 20px;" (click)="removeNewTask(i)">Cancel
                </span>
              </div>
              <div class="pointer" style="float: right;padding: 8px 14px 0 0;" (click)="removeCurrentCard(i)">
                Remove Card
              </div>
            </div>
          </div>
          <div *ngIf="cardArray.btn_card" class="pointer" style="width: 100%;height: 100%;" (click)="addNewBoard()">
            <p><span>+</span> Add new list</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>